<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<title>Listar Equipamentos</title>
	<body>
		
		<h1>Equipments Page</h1>
		
		
		<table>
		   <th:block th:each="Equipment : ${equipments}">
		      <tr>
		         <td th:text="${equipment.serial_number}">...</td>
		         <td th:text="${equipment.tumber_number}">...</td>
		         <td th:text="${equipment.registration_date}">...</td>
		         <td th:text="${equipment.last_maintenance}">...</td>
		         <td th:text="${equipment.status}">...</td>
		      </tr>
		   </th:block>
		</table>
	
	</body>

</html>